[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyquery = ">=1.2.17"
requests = ">=2.12.4"
cchardet = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.7"
